<div class="wishlist">
  <div class="wishlistwrapper">
    <button>
      <img src="https://cdn.shopify.com/s/files/1/0870/5235/3821/files/Material_Icons.png?v=1717948648">
      <span>ADD TO LIST</span>
    </button>
    <a href="#" class="wishlist-page">Show my favourite</a>
  </div>
</div>